{% import 'macros.jinja2' as tools%}
{{ tools.title(title,pdf) }}.
{%- if editor %}
  {{ editor }}, editors.
{%- else %}
  {{ author }}.
{%- endif %}
{{ publisher }}. {{ year }}
{{ tools.doi(doi) }}
{{ tools.url(url) }}
{{ tools.pdf(pdf) }}
