{% import 'macros.jinja2' as tools%}
{{ tools.title(title,pdf) }}.
{{ author }},
In <em>{{ booktitle }}</em>. {{ publisher }}, {{ year }}
{{ tools.doi(doi) }}
{{ tools.url(url) }}
{{ tools.pdf(pdf) }}
