{# This file contains helper macros #}
{# It will not be processed as a BibTeX entry #}
{% macro doi(doi) %}
{%- if doi -%}
  <a href="https://doi.org/{{ doi }}"><img class="bibicon" alt="[DOI]" src="img/doi.svg"></a>
{%- endif -%}
{% endmacro %}

{% macro url(url) %}
{%- if url -%}
    <a href="{{ url }}"><img class="bibicon" alt="[Link]" src="img/external-link-alt.svg"></a>
{%- endif -%}
{% endmacro %}

{% macro pdf(pdf) %}
{%- if pdf -%}
  <a href="files/{{ pdf }}"><img class="bibicon" alt="[PDF]" src="img/file-pdf.svg"></a>
{%- endif -%}
{% endmacro %}

{% macro title(title,pdf) %}
{%- if pdf -%}
<strong><a href="files/{{ pdf }}">{{ title }}</a></strong>
{% else %}
<strong>{{ title }}</strong>
{%- endif -%}
{% endmacro %}