{% import 'macros.jinja2' as tools%}
{{ tools.title(title,pdf) }}.
{{ editor|safe }}, editors.
Vol {{ volume }} of {{ series }}. {{ year }}
{{ tools.doi(doi) }}
{{ tools.url(url) }}
{{ tools.pdf(pdf) }}
